:root {
  --grey: #A7A5A5;
  --grey-white: #BDBDBD;
  --grey-black: #818181;
  --white: #FFFFFF;
  --black: #000000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
